.navbar {
    background: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
}

.navbar ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navbar ul li a {
    text-decoration: none;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.home {
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1 {
    font-size: 90px;
    margin-top: 100px;
}

.about {
    background-image: url('./images/New\ Project\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.about-text {
    padding-top: 10rem;
    justify-items: center;
    width: 35rem;


}

.about-text p {
    padding: 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(3rem);
    -webkit-backdrop-filter: blur(1rem);
}

.contact {
    background-image: url('./images/banner-03.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-text {
    margin-left: 10rem;
    width: 30rem;
}

.contact-form {
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.login {
    background-image: url('./images/logsss.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding-top: 4rem;
}

.register {
    background-image: url('./images/banner-05.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding-top: 4rem;
}

.reg-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

input {
    width: 16rem;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

textarea:focus,
input:focus {
    border-color: #020202;
    box-shadow: 0 0 8px #262726;
}

textarea::placeholder,
input::placeholder {
    color: gray;
    font-style: italic;
}

textarea {
    width: 16rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button {
    background-color: #4fbb46;
    padding: 5px;
    width: 120px;
    border: solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

button:focus {
    border-color: #020202;
    box-shadow: 0 0 8px #262726;
}